body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  gap: 1.2rem;
}

nav {
  background-color: #555;
  padding: 1em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}

nav li {
  display: inline;
  margin-right: 10px;
  background-color: #333; /* New background color for li tags */
  padding: 8px 12px;
  border-radius: 4px;
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #111;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 1em;
}

section,
aside {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1em;
}

.shoe-featured {
  display: flex;
  gap: 1.2rem;
}

article {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1em;
}

h2 {
  color: #333;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #7c7b7b;
  text-decoration: none;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

#about,
#contact,
#categories {
  text-align: center;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #333;
  color: #fff;
}
